# FQDN
FQDN=<#>
FQDN_PROD=<#>
FQDN_PARTNER_APP_BACKEND=<#>
FQDN_PARTNER_APP_BACKEND_STAGE=<#>
FQDN_DEV_K8S=
FQDN_DEV=
FQDN_STAGE=<#>

# Database Properties
USER_MANAGEMENT_HOST=
USER_MANAGEMENT_PORT=
USER_MANAGEMENT_SCHEMA=
USER_MANAGEMENT_USER=
USER_MANAGEMENT_PASSWORD=

# Auth credentials
AUTH_USERNAME_TEST=<#>
AUTH_USERNAME_DEV=<#>
AUTH_USERNAME_DEV_K8S=<#>
AUTH_USERNAME_STAGE=<#>
AUTH_PASSWORD_TEST=<#>
AUTH_PASSWORD_DEV=<#>
AUTH_PASSWORD_DEV_K8S=<#>
AUTH_PASSWORD_DEV_STAGE=<#>
AUTH_KEY_TEST=<#>
AUTH_KEY_DEV=<#>
AUTH_KEY_DEV_K8S=<#>
AUTH_KEY_DEV_STAGE=<#>
